.contact {
  min-height: calc(100vh - 82.59px - 4.6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-container {
  padding-top: 8vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  border-radius: 20px;
  border: 1px solid rgba(var(--color-dark-2), 0.2);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  background:
    linear-gradient(
      135deg,
      rgba(var(--color-dark-2), 0.86),
      rgba(var(--color-dark-1), 0.76)
    );
}

.contact-container h1 {
  margin-bottom: 6vh;
  font-size: clamp(30px, 3vw, 999px);
  font-weight: 650;
  color: rgba(var(--color-light-1));
  transition: transform 0.3s;
} 
.contact-phrase :hover {
  transform: translateY(-4px) scale(1.03);
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgba(var(--color-light-2));
  transition: transform 0.3s;
  padding: 0.5rem 0rem;
} 

.contact-item p {
  margin: 0;
  font-size: clamp(16px, 1.25vw, 999px);
}

.contact-item a {
  color: rgba(var(--color-light-2));
  font-size: clamp(16px, 1.25vw, 999px);
  font-weight: 500;
}

.contact-item a:hover {
  color: rgba(var(--color-med-2));
}