.university {
  padding-left: 7.5vw;
  padding-right: 2.5vw;
  display: flex;
  gap: 4vw;
}

.university-container{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3.6vh;
  padding-bottom: 0.5vh;
}
.university-container::before {
  content: '';
  position: absolute;
  left: -3.25rem;
  top: 0;
  bottom: 0;
  width: 2px;
  background: linear-gradient(
    to bottom, 
    transparent, 
    rgba(var(--color-med-1)) 10%, 
    rgba(var(--color-med-1)) 90%, 
    transparent);
  border-radius: 2px;
}

.degree-item {
  display: flex;
  flex-direction: column;
}

.university ul {
  text-align: left;
  padding-left: 1.25vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
  margin: 0;
}
.university ul li {
  position: relative;
  padding-left: 1.4vw;
  padding-right: 0.25vw;
  color: rgba(var(--color-light-2), 0.7);
}
.university ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.55em;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(var(--color-light-1), 0.9);
  box-shadow: 0 0 10px rgba(var(--color-light-2), 0.4);
}

.university-details {
  font-size: 1.12vw;
}

.university-item {
  margin-bottom: 2.4vh;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.25vw;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid rgba(var(--color-light-1), 0.2);
}
.university-item:hover {
  box-shadow:
    0 10px 25px rgba(0,0,0,0.2),
    inset 0 1px 0 rgba(var(--color-med-1),0.6);
  background: rgba(var(--color-med-1));
}
.university-item::before {
  content: '';
  position: absolute;
  left: -2rem;
  top: 3.5rem;
  width: 15px;
  height: 15px;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(var(--color-light-1), 1),
    rgba(var(--color-light-1), 0.6)
  );
  border-radius: 50%;
  box-shadow:
    0 0 10px rgba(var(--color-med-1), 0.7),
    0 6px 12px rgba(0, 0, 0, 0.25);
}
.university-item h3 {
  margin: 0;
  font-size: 1.45vw;
  font-weight: 550;
}
.university-item h4 {
  margin: 0;
  font-size: 1.25vw;
  font-weight: 400;
}
.university-item img {
  width: 7.8vw;
  height: 7.8vw;
  object-fit: contain;
  background-color: white;
  border-radius: 20px;
  box-shadow:
    0 10px 25px rgba(0,0,0,0.2),
    inset 0 1px 0 rgba(255,255,255,0.6);
}

.degree-title {
  width: 31.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.degree-title h3 {
  color: white;
}

.degrees-explanation {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}
.degrees-explanation h3 {
  margin-bottom: 0;
  margin-top: 1.4vh;
  font-size: 1.45vw;
}

.study-area-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  font-size: 1.05vw;
  padding: 0rem 1.25vw;
  border: 1px solid rgba(var(--color-med-1), 0.9);
  border-radius: 20px;
  box-shadow:
    0 10px 25px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.study-area-title:hover {
  box-shadow:
    0 10px 25px rgba(0,0,0,0.2),
    inset 0 1px 0 rgba(var(--color-med-1),0.6);
  background: rgba(var(--color-med-1));
}

.study-area-details {
  font-size: 1vw;
}

.title-expanded {
  background: rgba(var(--color-med-1), 0.75);
}
