.work-experience {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5vh;
  margin-left: 21vw;
  margin-top: 11vh;
  margin-bottom: 2vh;
}
.work-experience::before {
  content: '';
  position: absolute;
  left: -3.15rem;
  top: 0;
  bottom: 0;
  width: 2px;
  background: linear-gradient(
    to bottom, 
    transparent, 
    rgba(var(--color-med-1)) 10%, 
    rgba(var(--color-med-1)) 90%, 
    transparent);
  border-radius: 2px;
}

.work-item {
  position: relative;
  width: 59vw;
}
.work-item::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 55px;
  width: 15px;
  height: 15px;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(var(--color-light-1), 1),
    rgba(var(--color-light-1), 0.6)
  );
  border-radius: 50%;
  box-shadow:
    0 0 10px rgba(var(--color-med-1), 0.7),
    0 6px 12px rgba(0, 0, 0, 0.25);
}
.work-item ul {
  text-align: left;
  margin-top: 3vh;
  padding-left: 1.5vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2vh;
}
.work-item ul li {
  position: relative;
  padding-left: 18px;
  color: rgba(var(--color-light-2), 0.7);
}
.work-item ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.55em;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(var(--color-light-1), 0.9);
  box-shadow: 0 0 10px rgba(var(--color-light-2), 0.4);
}

.work-experience .work-item .content.expanded {
  margin-bottom: -3.5vh;
}
.work-experience .work-item .content.expanded.last {
  margin-bottom: 0;
}

.experience-item {
  display: flex;
  align-items: center;
  gap: 1.25vw;
  cursor: pointer;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid rgba(var(--color-light-1), 0.2);
  transition: background-color 0.3s;
}
.experience-item:hover {
  background-color: rgba(var(--color-med-1), 0.9);
  border-radius: 20px;
  box-shadow:
    0 10px 25px rgba(0,0,0,0.2),
    inset 0 1px 0 rgba(var(--color-med-1),0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.experience-item img {
  width: 7.8vw;
  height: 7.8vw;
  object-fit: contain;
  background-color: white;
  border-radius: 20px;
  box-shadow:
    0 10px 25px rgba(0,0,0,0.2),
    inset 0 1px 0 rgba(255,255,255,0.6);
}
.experience-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  padding-right: 1.25vw;
}
.experience-item h3 {
  margin: 0;
  color: white;
  font-size: 1.55vw;
}
.experience-item h4 {
  margin: 0;
  color: white;
  font-size: 1.25vw;
  font-weight: 400;
}

.expand-icon {
  margin-top: 0;
  opacity: 0.8;
  transition: all 0.2s ease;
  animation: bounce 1.6s infinite;
}

.content {
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
  color: rgba(var(--color-light-2));
  font-size: 1.25vw;
}
.content.expanded {
  color: white;
}
strong {
  color: rgba(var(--color-light-2));
  font-weight: 600;
}

.title-expanded {
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}